

section, footer {
    padding: 0px 32px;
    margin: 0px;
}

section {
    border-bottom: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 1px 2px lightgray;

    display: flex;
    justify-content: center;
}

.section__content {
    flex: 1;
    max-width: 980px;
    text-align: justify;
}

.section__content h2 {
    width: 100%;
    text-align: left;
}

@media screen and (max-width: 640px) {
    .section__content h2 {
        text-align: center;
    }   
}

.section__content details {
    box-shadow: 0px 0px 3px lightgray;
    padding: 8px;
    margin: 8px 0px;
    border-radius: 5px;
}

footer {
    background-color: black;
    color: white;

    min-height: 200px;
    padding-top: 32px;
}

.footer__contato a {
    color: white;
}